#container {
    display: flex;

    border: 10px solid black;
    width: 669px;
    height: 669px;
    flex-wrap: wrap;
  }
  /*boxes shouldn't have any borders, margins, or padding.*/
  /*the box height and width needs to change to fit the space of the container. */
  .box {
    flex: 0 0 calc(100% / var(--rows));
    box-sizing: border-box;
    height: calc(100% / var(--columns));
    border: 1px solid black;
  }